<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>DoubtHut</title>
  <style>
    body {
      background-image: url(/images/whitey.png);

    }

    .google-btn {
      margin-top: 15%;
      width: 299px;
      height: 56px;
      background-color: #4285f4;
      border-radius: 2px;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    }

    .google-btn .google-icon-wrapper {
      position: absolute;
      margin-top: 4px;
      margin-left: 2px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: #fff;
    }

    .google-btn .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      width: 17px;
      height: 17px;
    }

    .google-btn .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.2px;
    }

    .google-btn:hover {
      box-shadow: 0 2px 6px #4285f4;
      cursor: pointer;
    }

    .google-btn:active {
      background: #1669f2;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      height: auto;
      width: 100%;
      background: #192027;
      text-align: center;
      line-height: 26px;
      font-size: 15px;
      font-weight: 300;
    }

    footer p {
      color: #898b96;
      text-decoration: none;
      display: inline-block
    }
    @media only screen and (max-width : 769px) {
      footer p {
      line-height: 26px;
      font-size: 15px;
      }
    }
    footer p a:hover {
      color: #8734bf !important;
      text-decoration: none;
    }
  </style>

</head>

<body>
  <div class="jumbotron jumbotron-fluid" style="background-color: white;">
    <div class="container">

      <img src="/images/logo.png" class="center" height="50%" width="50%">
      <h5 class="text-center" style="color: #ffb423;"><em>Ask Doubt! Solve Doubt!</em></h5>
    </div>
  </div>
  <a href="/auth/google">
    <div class="google-btn container align-self-center pt-1">
      <div class="google-icon-wrapper">
        <img class="google-icon " src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
      </div>
      <p class="btn-text pb-3 mb-2 pl-1 ml-1" style="font-size: large;"><b> Sign in/up with google</b></p>
    </a>
    </div>

    <footer>
      <p> Made with &#9749; by
        <a href="http://www.sakshichoudhary.me" style="color: whitesmoke;">&nbsp; Sakshi Choudhary</a>
      </p>
    </footer>
</body>
<script>
  function footerAlign() {
    $('footer').css('height', 'auto');
    var footerHeight = $('footer').outerHeight();
    $('body').css('padding-bottom', footerHeight);
    $('footer').css('height', footerHeight);
  }


  $(document).ready(function () {
    footerAlign();
  });

  $(window).resize(function () {
    footerAlign();
  });

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
